@using EwiPraca.Enumerations
@model int
<div id="company-navigation">
    <h6 class="section-title align-center">Nawigacja</h6>

    <ul class="projects-carousel clearfix">

        <li>
            <a href="@Url.Action("MyProfile", "Manage")">
                @*<img src="img/placeholders/portfolio-project-4th-1.jpg" alt="">*@
                <h5 class="title">Mój profil</h5>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index", "Employee", new { id = Model, viewType = EmployeeListTypes.Default } )">
                @*<img src="img/placeholders/portfolio-project-4th-1.jpg" alt="">*@
                <h5 class="title">Pracownicy</h5>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Calendar", new { companyId = Model })">
                @*<img src="img/placeholders/portfolio-project-4th-1.jpg" alt="">*@
                <h5 class="title">Kalendarz</h5>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Employee", new { id = Model, viewType = EmployeeListTypes.Leaves } )">
                @*<img src="img/placeholders/portfolio-project-4th-1.jpg" alt="">*@
                <h5 class="title">Urlopy</h5>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index", "Employee", new { id = Model, viewType = EmployeeListTypes.MedicalResults } )">
                @*<img src="img/placeholders/portfolio-project-4th-2.jpg" alt="">*@
                <h5 class="title">Badania lek.</h5>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index", "Employee", new { id = Model, viewType = EmployeeListTypes.OSHTrainings } )">
                @*<img src="img/placeholders/portfolio-project-4th-3.jpg" alt="">*@
                <h5 class="title">Szkolenia BHP</h5>
            </a>
        </li>

        <li>
            <a href="@Url.Action("Index", "Employee", new { id = Model, viewType = EmployeeListTypes.SickLeaves } )">
                @*<img src="img/placeholders/portfolio-project-4th-4.jpg" alt="">*@
                <h5 class="title">Zwolnienia lek.</h5>
            </a>
        </li>

    </ul><!-- end .projects-carousel -->
</div>