@model EwiPraca.Models.Calendar.CustomEventViewModel

@{
    var title = "Dodaj zdarzenie";
}
<div class="modal-wrapper">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" id="closbtnsleave">×</button>
        <h4 class="modal-title" id="myModalLabel">@title</h4>
    </div>
    @using (Ajax.BeginForm("AddEvent", "Calendar", new AjaxOptions() { HttpMethod = "POST", OnSuccess = "onEventAddSuccess", OnFailure = "onFailureModalEdit" })) // { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.CompanyId)
        @Html.HiddenFor(x => x.CreatedDate)
        @Html.HiddenFor(x => x.UpdatedDate)

        <div class="row modal-row">
            @Html.LabelFor(m => m.Title, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Title, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Title)
            </div>
        </div>

        <div class="row modal-row">
            @Html.LabelFor(m => m.StartDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.StartDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.StartDate)
            </div>
        </div>

        <div class="row modal-row">
            @Html.LabelFor(m => m.EndDate, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.EndDate, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EndDate)
            </div>
        </div>

        <div class="row modal-row">
            @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Description)
            </div>
        </div>
        <div class="row modal-row">
            <div class="col-md-12">
                <div class="float-right">
                    <input type="submit" class="btn btn-default" value="Zapisz" />
                </div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    function onEventAddSuccess(e) {
        if (e.Success == "true") {
            $('#add-event-modal').modal('hide');
            $('#calendar').fullCalendar('refetchEvents');
        }
        else {
            BootstrapDialog.show({
                title: 'Informacja',
                message: e.Message
            });
        }
    }
</script>