@model EwiPraca.Models.UserViewModel
@{
    ViewBag.Title = "Mój profil";
}
@section navigation{
    @Html.Partial("_Menu", new MenuViewModel() { MyProfileSelected = true })
}
@section scripts{
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" media="screen" />
}

<header class="page-header">
    <h1 class="page-title align-center">Mój profil</h1>
</header>
<h2 class="slogan align-center">
    Tutaj możesz edytować swoje dane.
</h2>
<span class="acc-trigger">
    <a href="#">Moje dane</a>
</span>

<div class="acc-container">
    <div class="content">
        <div class="row">
            @Html.LabelFor(m => m.FirstName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.FirstNameDecrypted, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstNameDecrypted)
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.SurnameDecrypted, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.DisplayFor(m => m.SurnameDecrypted, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.SurnameDecrypted)
            </div>
        </div>
        <div class="row">
            @Html.LabelFor(m => m.EmailDecrypted, new { @class = "col-md-2 control-label" })
            <div class="col-md-9">
                @Html.DisplayFor(m => m.EmailDecrypted, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.EmailDecrypted)
            </div>
        </div>
        <div>
            <a href="#" id="open-edit-user-modal" class="button"><span class="glyphicon glyphicon-pencil"></span> Edytuj</a>
        </div>
    </div>
</div>

<span class="acc-trigger">
    <a href="#">Moje firmy</a>
</span>

<div class="acc-container">
    <div class="content">
        <ul class="categories">
            @if (Model != null && Model.UserCompanies != null)
            {
                foreach (var company in Model.UserCompanies)
                {
                    <li><a href="@Url.Action("DisplayCompany", "Company", new { id = company.Id })">@Html.Raw(company.CompanyName)</a></li>
                }
            }
        </ul>
        <a href="#" id="open-add-company-modal" class="button"><span class="glyphicon glyphicon-plus"></span> Dodaj</a>
    </div>
</div>

<span class="acc-trigger">
    <a href="#">Subskrypcja</a>
</span>

<div class="acc-container">
    <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nisl orci, condimentum ultrices consequat eu.</div>
</div>

@Html.Partial("_EditUserData")

@Html.Partial("_AddUserCompanyData")