@model EwiPraca.Models.UserSettingsViewModel

@{
    ViewBag.Title = "Ustawienia";
}

@section navigation{
    @Html.Partial("_Menu", new MenuViewModel() { MyProfileSelected = true })
}

@section scripts{
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" media="screen" />
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/pdfmake.min.js"></script>
    <script src="~/Scripts/vfs_fonts.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script src="~/Scripts/buttons.colVis.min.js"></script>
<script src="~/Scripts/dataTables.colReorder.min.js"></script>
}

<header class="page-header">
    <h1 class="page-title align-center">@ViewBag.Title</h1>
</header>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Lista ustawień</h1>
            </div>
            <div class="panel-body">
                <table id="settings-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ID ustawienia</th>
                            <th>Typ ustawienia</th>
                            <th>Opis</th>
                            <th>Wartość</th>
                            <th>Akcje</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Settings != null)
                        {
                            foreach (var setting in Model.Settings)
                            {
                                <tr>
                                    <td>@setting.Id</td>
                                    <td>@setting.SettingId</td>
                                    <td>@setting.SettingType</td>
                                    <td>@setting.SettingDescription</td>
                                    <td>@setting.SettingValue</td>
                                    <td class="action-column"></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row last-row">
</div>
<script>
    $(document).ready(function () {
        $('#settings-data-table').DataTable({
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            },
             {
                 "targets": [1],
                 "visible": false,
                 "searchable": false
             },
             {
                 "targets": [2],
                 "visible": false,
                 "searchable": false
             },
             {
                 "targets": [3]
             },
             {
                 "targets": [4]
             },
             {
                 "targets": [5],
                 mRender: function (data, type, row) {

                     return '<a class="button grid-button edit-settings-button" data-id="' + row[0] + '" data-settingId="' + row[1] + '" data-value="' + row[4] + '">Edytuj</a>'
                 }
             }
            ],
            "oLanguage": {
                "sSearch": "Szukaj: ",
                "sEmptyTable": "Brak danych do wyświetlenia",
                "sInfo": "_START_ do _END_ z _TOTAL_ wierszy",
                "sInfoEmpty": "0 z 0 z 0 wierszy",
                "oPaginate": {
                    "sNext": "Następna",
                    "sPrevious": "Poprzednia"
                },
                "sLengthMenu": "Pokaż na stronę: _MENU_",
            }
        });

        $('.edit-settings-button').click(function () {
            var id = $(this).attr('data-id');
            var settingId = $(this).attr('data-settingId');
            var val = $(this).attr('data-value');

            showLoader();

            var options = { keyboard: true };
            var data = { userSettingId: id, settingValue: val, settingId: settingId }
            $.ajax({
                type: "GET",
                url: "@Url.Action("EditUserSettingView", "Manage")",
                contentType: "application/json",
                data: data,
                datatype: "json",
                success: function (data) {
                    $('#edit-user-settings-modal-content').html(data);
                    $('#edit-user-settings-modal').modal(options);
                    $('#edit-user-settings-modal').modal('show');
                    hideLoader();
                },
                error: function () {
                    hideLoader();
                    alert("Dynamic content load failed.");
                }
            });
        });
    });

</script>

<div id='edit-user-settings-modal' class='modal fade'>
    <div class="modal-dialog popup-modal">
        <div class="modal-content">
            <div id='edit-user-settings-modal-content'></div>
        </div>
    </div>
</div>
