@model EwiPraca.Models.UserCompanyAddressViewModel

<div class="row modal-row">
    @Html.LabelFor(m => m.StreetName, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.StreetName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StreetName)
    </div>
</div>
<div class="row modal-row">
    @Html.LabelFor(m => m.StreetNumber, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.StreetNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.StreetNumber)
    </div>
</div>
<div class="row modal-row">
    @Html.LabelFor(m => m.PlaceNumber, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.PlaceNumber, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.PlaceNumber)
    </div>
</div>
<div class="row modal-row">
    @Html.LabelFor(m => m.City, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.City)
    </div>
</div>
<div class="row modal-row">
    @Html.LabelFor(m => m.ZIPCode, new { @class = "col-md-2 control-label" })
    <div class="col-md-10">
        @Html.TextBoxFor(m => m.ZIPCode, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ZIPCode)
    </div>
</div>