@model EwiPraca.Models.CompanyEmployeesViewModel
@{
    ViewBag.Title = Model.CompanyName + " - Pracownicy";
}
@section navigation{
    @Html.Partial("_Menu", new MenuViewModel() { MyProfileSelected = true })
}
@section scripts{
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" media="screen" />
}

<header class="page-header">
    <h1 class="page-title align-center">@ViewBag.Title</h1>
</header>

<h2 class="slogan align-center">
    Dane pracowników.
</h2>

<p class="align-center">
    <a href="#" id="open-add-employee-modal" class="button"><span class="glyphicon glyphicon-plus"></span> Dodaj</a>
    <a href="#" id="download-import-from-excel-template" class="button"><span class="glyphicon glyphicon-plus"></span> Pobierz szablon excel do importu</a>
    <a href="#" id="import-from-excel" class="button"><span class="glyphicon glyphicon-plus"></span> Importuj z pliku excel</a>
</p>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary list-panel" id="list-panel">
            <div class="panel-heading list-panel-heading">
                <h1 class="panel-title list-panel-title">Lista pracowników</h1>
            </div>
            <div class="panel-body">
                <table id="employees-data-table" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Imię</th>
                            <th>Nazwisko</th>
                            <th>PESEL</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var employee in Model.Employees)
                        {
                            <tr>
                                <td>@employee.Id</td>
                                <td>@employee.FirstName</td>
                                <td>@employee.Surname</td>
                                <td>@employee.PESEL</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@Html.Partial("_AddEmployeeData", (object)Model.CompanyId)

<script type="text/javascript">

    $(document).ready(function () {

        $('#download-import-from-excel-template').click(function () {
            showLoader();
            $.ajax({
                type: "GET",
                url: "@Url.Action("PostExcelTemplate", "Employee")",
                contentType: "application/json",
                datatype: "json",
                success: function (data) {
                    hideLoader();
                    var url = '@Html.Raw(Url.Action("DownloadEmployeeImportExcelTemplate", "Employee", new { fileGuid = "XXXFILEGUID", filename = "XXXFILENAME" }))';
                    url = url.replace('XXXFILEGUID', data.FileGuid).replace('XXXFILENAME', data.FileName);
                    window.location = url;
                },
                error: function () {
                    hideLoader();
                    alert("Pobranie pliku nie powiodło się.");
                }
            });
        });

        var dt = $('#employees-data-table').DataTable({
            responsive: true,
            "columnDefs": [
            {
                "targets": [0],
                "visible": false,
                "searchable": false
            }],
            "oLanguage": {
                "sSearch": "Szukaj: ",
                "sEmptyTable": "Brak danych do wyświetlenia",
                "sInfo": "_START_ do _END_ z _TOTAL_ wierszy",
                "sInfoEmpty": "0 z 0 z 0 wierszy",
                "oPaginate": {
                    "sNext": "Następna",
                    "sPrevious": "Poprzednia"
                },
                "sLengthMenu": "Pokaż na stronę: _MENU_",
            }
        });

        $('#employees-data-table').on('click', 'td', function (e) {
            var data = dt.row($(this).parents('tr')).data();
            showLoader();
            var options = { "backdrop": "static", keyboard: true };
            var data = { employeeId: data[0] }
            $.ajax({
                type: "GET",
                url: "@Url.Action("EditEmployeeView", "Employee")",
                contentType: "application/json",
                data: data,
                datatype: "json",
                success: function (data) {
                    $('#edit-employee-modal-content').html(data);
                    $('#edit-employee-modal').modal(options);
                    $('#edit-employee-modal').modal('show');
                    hideLoader();
                },
                error: function () {
                    hideLoader();
                    alert("Dynamic content load failed.");
                }
            });
        });
    });
</script>

<div id='edit-employee-modal' class='modal'>
    <div class="modal-dialog popup-modal">
        <div class="modal-content">
            <div id='edit-employee-modal-content'></div>
        </div>
    </div>
</div>