@model EwiPraca.Models.CalendarViewModel
@{
    ViewBag.Title = "Kalendarz - " + Model.CompanyName;
}

@section navigation{
    @Html.Partial("_Menu", new MenuViewModel() { MyProfileSelected = true })
}

@section scripts{
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" media="screen" />
    <link href="~/Content/fullcalendar.print.min.css" rel="stylesheet" media="print" />
    <link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Scripts/qTip/jquery.qtip.min.css" rel="stylesheet" />
    
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<!-- qTip -->
<script type="text/javascript" src="~/Scripts/qTip/jquery.qtip.min.js"></script>
<!-- Full Calendar -->
<script type="text/javascript" src="~/Scripts/fullcalendar.min.js"></script>
<script type="text/javascript" src="~/Scripts/locale/pl.js"></script>

}
<header class="page-header">
    <h1 class="page-title align-center">@ViewBag.Title</h1>
</header>
@Html.Partial("_TopBarCompanyNavigation", Model.CompanyId)

<h2 class="slogan align-center">
    Podgląd wydarzeń
</h2>

<p class="align-center">

    <a href="#" id="share-calendar" class="button"><span class="glyphicon"></span>Udostępnij</a>
    <p class="align-center">Kliknij na dzień by dodaj zdarzenie.</p>
    <p class="align-center">Kliknij na zdarzenie by je edytować.</p>
</p>
<div id="calendar"></div>

<div class="row last-row">
    @if (!Model.IsReadOnly)
    {
        <p class="align-center">
            <a href="@Url.Action("DisplayCompany", "Company", new { id = Model.CompanyId })" class="button"><span class="glyphicon"></span>Powrót</a>
        </p>
    }
</div>

<div id='add-event-modal' class='modal fade'>
    <div class="modal-dialog popup-modal">
        <div class="modal-content">
            <div id='add-event-modal-content'></div>
        </div>
    </div>
</div>

@if (Model.IsReadOnly)
{
    <script>
        $(document).ready(function() {
            $("#header").remove();
            $("#company-navigation").remove();
        });
</script>
}


<script>
    $(document).ready(function () {

        $('#share-calendar').click(function () {
            showLoader();
            var data = { companyId: @Model.CompanyId };
            $.ajax({
                type: "GET",
                data: data,
                url: "@Url.Action("GetCalendarLink", "Calendar")",
                contentType: "application/json",
                datatype: "json",
                success: function (data) {
                    hideLoader();
                    if(data.Success == "true"){
                        alert("Kalendarz dostępny jest pod linkiem: " + data.Message);
                    }
                    else{
                        showErrorMessage(data.Message);
                    }
                },
                error: function () {
                    hideLoader();
                }
            });
        });

        var calendar = $('#calendar').fullCalendar({
            eventClick: function(info) {

                showLoader();
                var options = { keyboard: true };
                var data = { customEventId: info.id }
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("EditCustomEventView", "Calendar")",
                    contentType: "application/json",
                data: data,
                datatype: "json",
                success: function (data) {
                    $('#add-event-modal-content').html(data);
                    $('#add-event-modal').modal(options);
                    $('#add-event-modal').modal('show');
                    hideLoader();
                },
                error: function () {
                    hideLoader();
                    alert("Dynamic content load failed.");
                }
            });
            },
            dayClick: function(date, jsEvent, view) {
                showLoader();
                var options = { keyboard: true };
                var data = { companyId: @Model.CompanyId, startDate: date.format() }
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("AddCustomEventView", "Calendar")",
                    contentType: "application/json",
                    data: data,
                    datatype: "json",
                    success: function (data) {
                        $('#add-event-modal-content').html(data);
                        $('#add-event-modal').modal(options);
                        $('#add-event-modal').modal('show');
                        hideLoader();
                    },
                    error: function () {
                        hideLoader();
                        alert("Dynamic content load failed.");
                    }
                });
            },
            header:
            {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            buttonText: {
                today: 'Dzisiaj',
                month: 'Miesiąc',
                week: 'Tydzień',
                day: 'Dzień'
            },
            eventTextColor: "#ffffff",
            lang: 'pl',
            events: function (start, end, timezone, callback) {
                $.ajax({
                    url: '@Url.Action("GetCalendarData", "Calendar", new { companyId = Model.CompanyId })',
                    type: "GET",
                    dataType: "JSON",

                    success: function (result) {
                        var events = [];

                        $.each(result, function (i, data) {
                            events.push(
                           {
                               id: data.Id,
                               title: data.Title,
                               description: data.Desc,
                               start: moment(data.StartDate),
                               end: moment(data.EndDate),
                               backgroundColor: data.Color,
                               borderColor: data.Color,
                           });
                        });

                        callback(events);
                    }
                });
            },

            eventRender: function (event, element) {
                element.qtip(
                {
                    content: event.description
                });
            }
        });
    });
</script>
