@model EwiPraca.Models.CompanyEmployeesViewModel
@{
    ViewBag.Title = "Kalendarz";
}

@section navigation{
    @Html.Partial("_Menu", new MenuViewModel() { MyProfileSelected = true })
}

@section scripts{
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" media="screen" />
    <link href="~/Content/fullcalendar.print.min.css" rel="stylesheet" media="print" />
    <link href="~/Content/fullcalendar.min.css" rel="stylesheet" />
    <link href="~/Scripts/qTip/jquery.qtip.min.css" rel="stylesheet" />
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/fullcalendar.min.js"></script>
    <script src="~/Scripts/fullcalendar.helper.min.js"></script>
    <script src='~/Scripts/locale-all.js'></script>
    <script src="~/Scripts/qTip/jquery.qtip.min.js"></script>
}
<header class="page-header">
    <h1 class="page-title align-center">@ViewBag.Title</h1>
</header>
@Html.Partial("_TopBarCompanyNavigation", Model.CompanyId)

<h2 class="slogan align-center">
    Podgląd wydarzeń
</h2>

<div id="calendar"></div>

<div class="row last-row">
    <p class="align-center">
        <a href="@Url.Action("DisplayCompany", "Company", new { id = Model.CompanyId })" class="button"><span class="glyphicon"></span>Powrót</a>
    </p>
</div>

<div id='add-event-modal' class='modal fade'>
    <div class="modal-dialog popup-modal">
        <div class="modal-content">
            <div id='add-event-modal-content'></div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            //eventClick: function(info) {
            //    alert('Event: ' + info.event.title);
            //    alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
            //    alert('View: ' + info.view.type);

            //    // change the border color just for fun
            //    info.el.style.borderColor = 'red';
            //},
            dayClick: function(date, jsEvent, view) {
                showLoader();
                var options = { keyboard: true };
                var data = { companyId: @Model.CompanyId, startDate: date.format() }
                $.ajax({
                    type: "GET",
                    url: "@Url.Action("GetCustomEventView", "Calendar")",
                    contentType: "application/json",
                    data: data,
                    datatype: "json",
                    success: function (data) {
                        $('#add-event-modal-content').html(data);
                        $('#add-event-modal').modal(options);
                        $('#add-event-modal').modal('show');
                        hideLoader();
                    },
                    error: function () {
                        hideLoader();
                        alert("Dynamic content load failed.");
                    }
                });
            },
            locale: 'pl',
            header:
            {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            buttonText: {
                today: 'Dzisiaj',
                month: 'Miesiąc',
                week: 'Tydzień',
                day: 'Dzień'
            },
            eventTextColor: "#ffffff",

            events: function (start, end, timezone, callback) {
                $.ajax({
                    url: '@Url.Action("GetCalendarData", "Calendar", new { companyId = Model.CompanyId })',
                    type: "GET",
                    dataType: "JSON",

                    success: function (result) {
                        var events = [];

                        $.each(result, function (i, data) {
                            events.push(
                           {
                               title: data.Title,
                               description: data.Desc,
                               start: moment(data.StartDate).format('YYYY-MM-DD'),
                               end: moment(data.EndDate).format('YYYY-MM-DD'),
                               backgroundColor: data.Color,
                               borderColor: data.Color,
                           });
                        });

                        callback(events);
                    }
                });
            },

            eventRender: function (event, element) {
                element.qtip(
                {
                    content: event.description
                });
            },

            editable: false
        });
    });
</script>
